{% extends 'layout.html' %}
{% block body %}
  {% for news_row in general|batch(2) %}
<div class="row">
  {%for news in news_row%}
  <div class="col s1">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{news['image']}}">
          <span class="card-title">{{news['title']}}</span>
        </div>
        <div class="card-content">
          <p>
            {{news['summary']}}
          </p>
        </div>
        <div class="card-action">
          <a href="{{news['url']}}">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
</div>
{% endfor %}
{% endblock %}