{% extends 'layout.html' %}
{% block body %}
<!-- <div class="container" style="align-content: center; margin: 10px; border: 3px solid black;">
  <div class="carousel carousel-slider" style="align-self: center;">
  	{% for news in homenews %}
    <a class="carousel-item" href="{{news['url']}}"><img src="{{news['image']}}"></a>
    <p>{{news['title']}}</p>
    {% endfor %}
  </div> -->
</div>
	<div class="jumbotron text-center" style="margin:20px;">
		<h1>Welcome to NEWS APP</h1>
		<p>Created by Darth and Leonardo</p>
</div>

        
{% endblock %}
